<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ziac.SplashApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ziac.splashapp.pwdResetSuccessful" />
        <activity android:name="com.ziac.splashapp.setNewpassword" />
        <activity android:name="com.ziac.splashapp.password_otp" />
        <activity android:name="com.ziac.splashapp.resetPassword" />
        <activity android:name="com.ziac.splashapp.regSuccessful" />
        <activity android:name="com.ziac.splashapp.verifyOtp" />
        <activity android:name="com.ziac.splashapp.mobileNumber" />
        <activity android:name="com.ziac.splashapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ziac.splashapp.begining" />
        <activity android:name="com.ziac.splashapp.login" />
        <activity android:name="com.ziac.splashapp.signup" />
        <activity android:name="com.ziac.splashapp.nav_mainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>